/* https://www.youtube.com/watch?v=gXkqy0b4M5g&ab_channel=developedbyed */

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    min-height: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    color: rgb(250, 71, 71);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav_links a{
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: rgb(250, 71, 71);
    font-weight: bold;
    font-size: 1.1rem;
}

.nav_links li{
    list-style: none;
}

.burger{
    display: none;
} 

.burger div{
    width: 1.5rem;
    height: 0.2rem;
    background-color: rgb(250, 71, 71);
    margin: 0.3rem;
    transition: all 0.3s ease;

}

@media screen and (max-width: 1800px){
     .nav_links{
            width: 60%;
        }
    }

@media screen and (max-width: 900px){
    body {
        overflow-x: hidden;
    }
    .nav_links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: pink;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav_links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav_active{
        transform: translateX(0%);
    }

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* https://www.youtube.com/watch?v=gXkqy0b4M5g&ab_channel=developedbyed */


/* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */


/* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */

@media screen and (max-width: 600px) {
    #dark{
        width: 100px;
        height: 30px;
    }
   
}

#big {
    display: flex;
}

#bg {
    background-color: rgba(211, 71, 71, 0.747);
    text-align: center;
    margin-top: 50px;
}

#bg2 {
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {

    #big {
        display: block;
    }

}



#heading {
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    margin-top: 2%; 
    
}

#par {
    font-size: 2.5rem;
    color:white;
    margin-top: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*https://www.w3schools.com/css/css3_buttons.asp*/

#dark {
  position: relative;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


#dark:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }
      
      #dark:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }
/*https://www.w3schools.com/css/css3_buttons.asp*/

@media screen and (max-width: 1200px) {
    #par{
        font-size: 2rem;
    }

    #heading {
        font-size: 3rem;
    }

    #bg2 {
        margin-top: 0;
    }    
}

@media screen and (max-width: 550px) {
     #par{
        font-size: 1.5rem;
     }
    
    #heading {
         font-size: 2.5rem;
    }
}
.nav_links li:hover {
    text-decoration: underline;
}

.exh {
    background-color: white;
    height: 500px;
    width: 100%;   
    overflow: auto;
    text-align: center;
    height: 350px;
    margin-top: 1%;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
}

#par2 {
    text-align: center;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.h{
    font-weight: bold;
    margin-top: 1%;
}

.img {
    width: 100%;
    height: auto;
    
}

/* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 600px;
  height: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

/*https://www.geeksforgeeks.org/how-to-align-two-divs-horizontally-using-html/#:~:text=1.,which%20has%20the%20class%20main.*/

#column1 {
    display: none;    
}

#column2 {
    display: none;
}

#column3 {
    display: none;
}

.butt {
    border-radius: 12px;
    background: white;
    border-color: lightblue;
    transition-duration: 0.4s;
    border-width: 5px;
    width: 150px;
    height: 85px;
    justify-content: space-around;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.butt:hover {
    background-color: lightblue;
    color: white;
}
